.root {
  background-color: #04070d;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: rgb(5, 5, 63);
}

.logoButton {
  border: 0;
  background: transparent;
  width: fit-content;
  padding: 0;
  cursor: pointer;
  margin-right: auto;
  background-color: rgb(2, 68, 46);
}

.logo {
  width: auto;
  height: 48px;
  object-fit: contain;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 8px;
  background-color: rgb(0, 76, 51);
}

.linkButton {
  border: 0;
  background: transparent;
  text-decoration: none;
  color: #c1c2c2;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  white-space: nowrap;
  padding: 0;
  cursor: default;
  transition: color 0.2s ease-in-out;
}

.linkButton:hover {
  color: #ffffff;
}

.socials {
  display: flex;
  gap: 16px;
  background-color: blueviolet;
}

.socialButton {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: color 0.2s ease;
}

.socialButton:hover {
  color: #9ea9b6;
}

.telegramIcon {
  filter: brightness(0) invert(1);
}

.bottomLine {
  border-top: 1px solid rgba(216, 231, 242, 0.07);
  padding: 32px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  color:rgb(213,219,230);
  font-size: 14px;
  font-weight: 500;
  background-color: #013434;
}

.switcher {
  justify-content: center;
}

@media (max-width: 1200px) {
  .inner{
    justify-content: center;
    align-items: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 8px;
  }

  .bottomLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
    color:rgb(213,219,230);
    font-size: 14px;
    font-weight: 500;
  }
}
