.root {
  position: relative;
  width: 100%;
  padding: 0px 0 80px;
  background-color: #04070d;
  overflow: hidden;
}

.root::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -250px;
  transform: translateX(-50%) rotate(-13deg);
  max-width: 793px;
  width: 100%;
  height: 499px;
  pointer-events: none;
  z-index: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgb(213, 219, 230, 0.85) 0%, rgba(4, 7, 13, 0) 100%);
  opacity: 0.1;
  filter: blur(60px);
}

.root::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(
    90deg,
    #04070d 10%,
    rgba(40, 44, 52,0.4) 50%,
    #04070d 90%
  );
}

.inner {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 24px;
}

.top {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 7px 14px;
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: #04070d;
  color: #d5dbe6;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3;
  white-space: nowrap;
}

.badgeIcon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  filter: invert(36%) sepia(81%) saturate(3600%) hue-rotate(10deg) brightness(101%) contrast(105%);
}


.title {
  margin: 0;
  color: #d5dbe6;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  max-width: 640px;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

.imageFrame {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 1px solid transparent;
  border-radius: 22px;
  background-color: #04070d;
  border: 1px solid rgba(216, 231, 242, 0.07);
  box-shadow: inset 0px 2px 1px 0px rgba(207, 231, 255, 0.2);
  overflow: hidden;
}

.imageFrame::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -350px;
  transform: translateX(-50%) rotate(-13deg);
  max-width: 793px;
  width: 100%;
  height: 499px;
  pointer-events: none;
  z-index: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgb(213, 219, 230, 0.85) 0%, rgba(4, 7, 13, 0) 100%);
  opacity: 0.1;
  filter: blur(60px);
}

.image {
  object-fit: cover;
}

@media (max-width: 1200px) {
  
}

@media (max-width: 800px) {
  .root{
    padding: 0px 0 40px;
  }
  .inner{
    gap:30px;
    padding: 0 12px;
  }

  .title{
    font-size: 30px;
    max-width: 300px;
    letter-spacing: 0em;
    line-height: 1.2;
    font-weight: 800;
  }

}





